@charset "utf-8";
/* CSS Document */
/*reset*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
form,
fieldset,
p,
button {
  margin: 0;
  padding: 0;
  border: none;
}
body {
  font-size: 12px;
  color: #333;
}
li {
  list-style: none;
}
a {
  color: #333;
  text-decoration: none;
}
img {
  vertical-align: top;
}
img,
fieldset,
iframe {
  border: 0 none;
}

body {
  font-family: "Nanum Gothic Coding", monospace;
  text-align: center;
  width: 100%;
  height: 100vh;
  background-color: #f1fffa;
}

#container {
  text-align: center;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(30px, auto);
  gap: 5px;
  margin: 20px;
}

.item {
  border: solid 1px;
}

.item:nth-child(1) {
  vertical-align: middle;

  grid-column: 1/5;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: #bde7d1;
}

.item:nth-child(2) {
  vertical-align: middle;

  grid-column: 1/2;
  grid-row-start: 2;
  grid-row-end: 4;
  background-color: #b4d6d3;
}

.item:nth-child(3) {
  grid-column: 2/5;
  grid-row-start: 2;
  grid-row-end: 4;
  background-color: #b4d6d3;
}

.item:nth-child(4) {
  grid-column: 1/5;
  grid-row: 4/6;
  background-color: #b8bac8;
}
.item:nth-child(5) {
  grid-column: 1/5;
  grid-row: 6/7;
  background-color: #b199b7;
}
.item:nth-child(6) {
  grid-column: 1/5;
  grid-row: 7/8;
  background-color: #ae89af;
}
.item:nth-child(7) {
  grid-column: 1/3;
  grid-row: 8/10;
  background-color: #aa78a6;
}
.item:nth-child(8) {
  grid-column: 3/5;
  grid-row: 8/10;
  background-color: #aa78a6;
}

img {
  width: 80%;
  height: 75%;
  object-fit: contain;
  padding: 5px;
  margin: 5px;
}

.welcome {
  text-align: center;
  padding-top: 20px;
}

h1,
h2 {
  font-weight: 700;
  padding: 5px;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2em;
}

p,
ul {
  font-size: 1.5em;
}

.myName {
  margin-top: 50%;
}

@media (max-width: 1000px) {
  body {
    color: white;
    background-color: #242038;
  }

  .item:nth-child(1) {
    background-color: #9067c6;
  }

  .item:nth-child(2) {
    background-color: #8d86c9;
  }

  .item:nth-child(3) {
    background-color: #8d86c9;
  }

  .item:nth-child(4) {
    background-color: #aca5cc;
  }
  .item:nth-child(5) {
    color: black;
    background-color: #cac4ce;
  }
  .item:nth-child(6) {
    color: black;
    background-color: #f7ece1;
  }
  .item:nth-child(7) {
    color: black;
    background-color: #f7ece1;
  }
  .item:nth-child(8) {
    color: black;
    background-color: #f7ece1;
  }
  .myName {
    margin-top: 75%;
  }
}

@media (max-width: 800px) {
  .item:nth-child(2) {
    display: none;
  }
  .item:nth-child(3) {
    grid-column: 1/5;
  }
  .item:nth-child(7) {
    grid-column: 1/5;
  }
  .item:nth-child(8) {
    grid-column: 1/5;
    grid-row: 10/12;
  }
}
