/*
-----------------------
Pop-Up Styles 
-----------------------
*/
#game-over {
  position: absolute;
  left: 37.5%;
  top: 30%;
  grid-column: 4/8;
  background-color: #4e5283;
  color: #ffffff;
  padding: 15px;
  box-shadow: 5px 5px 5px 5px grey;
  border-radius: 15px;
  border: solid 5px darkkhaki;
  width: 20%;
  text-align: center;
  animation: fadein 3s;
  -moz-animation: fadein 3s; /* Firefox */
  -webkit-animation: fadein 3s; /* Safari and Chrome */
  -o-animation: fadein 3s; /* Opera */
}

#game-over p {
  text-align: center;
  font-size: 1.3em;
  margin: 5px;
  padding: 5px;
}

#game-over > button {
  background-color: darkkhaki;
  color: black;
  border: solid 2px darkkhaki;
  border-radius: 5px;
  cursor: pointer;
}

#game-over > button {
  margin: 5px;
  box-shadow: 1px 1px 1px 1px grey;
}
/*
-----------------------
End Pop-Up Styles 
-----------------------
*/
