@charset "utf-8";
/* CSS Document */
/*reset*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
form,
fieldset,
p,
button {
  margin: 0;
  padding: 0;
  border: none;
}
body {
  font-size: 12px;
  color: #333;
}

a {
  color: #413c58;
  font-size: 2em;
  font-weight: bold;
}

img {
  width: 20%;
  vertical-align: top;
}

img,
fieldset,
iframe {
  border: 0 none;
}

body {
  font-family: "Ubuntu", sans-serif;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

main {
  height: 100%;
}

#wrapper {
  width: 100%;
  height: 100%;
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff6f6;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 5px 5px black;
}

#container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: minmax(auto, auto);
  gap: 15px;
  margin: 10px;
}

.item {
  padding: 10px;
  border-radius: 10px;
  border-style: outset;
  background-color: #e9e7ec;
}

.assignment {
  text-align: center;
  padding: 20px;
}

#output {
  margin: 10px;
  font-size: 1.3em;
}

.bold {
  font-weight: 700;
}

.targetNameFound {
  padding: 5px 10px 5px 5px;
  background-color: #828bdc;
  border-radius: 9px;
  border: solid 1px #333656;
  box-shadow: 0px 0px 0px 4px #333656;
}

.countUpDown {
  border-top: 1px solid black;
}
h1,
h2,
h3 {
  font-weight: 700;
  padding: 5px;
  margin: 5px;
  letter-spacing: 2px;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.7em;
}

p,
ul,
ol {
  line-height: 1.75rem;
  font-size: 1.05rem;
  padding: 5px;
  margin: 5px;
}

ul,
ol {
  margin-left: 20px;
}
li {
  font-size: 1.05rem;
  /* padding: 5px; */
  margin: 5px;
}

header {
  background-color: #4e5283;
  color: #ffffff;
}

footer {
  background-color: #4e5283;
  color: #ffffff;
  font-size: 1.05rem;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
}

@media (max-width: 1000px) {
}

@media (max-width: 800px) {
}
