/*
-----------------------
Accordion Tabs Styles 
-----------------------
*/

.accordion {
  grid-column: 3/24;
  padding: 8px;
  max-width: 800px;
  text-align: center;
  .tab {
    border-bottom: 1px solid #004d57;
    padding: 8px 16px;
    cursor: pointer;
    margin: 0;
    line-height: 1;
  }
  p{
    margin: 0;
  }
}

@mixin keyframe ($animation_name) {

  @-webkit-keyframes #{$animation_name} {
    @content;
  }
  @-moz-keyframes #{$animation_name} {
    @content;
  }
  @-o-keyframes #{$animation_name} {
    @content;
  }
  @keyframes #{$animation_name} {
    @content;
  }
}

@include keyframe (fadein) {
  0% {
      opacity: 0;
  }100%{
      opacity: 1;
  }
}


@include keyframe (fadeout) {
  0% {
      opacity: 1;
  }100%{
      opacity: 0;
  }
}

/* 
--------------------------------------------------
End Accordion Tabs Styles 
--------------------------------------------------
*/
