/*
-----------------------
Pop-Up Styles 
-----------------------
*/
#game-over {
  position: absolute;
  left: 37.5%;
  top: 30%;
  grid-column: 4/8;
  background-color: $wrapper_color;
  padding: 15px;
  box-shadow: 5px 5px 5px 5px grey;
  border-radius: 15px;
  border: solid 5px $popup;
  width: 20%;
  text-align: center;
  animation: fadein 3s;
  -moz-animation: fadein 3s; /* Firefox */
  -webkit-animation: fadein 3s; /* Safari and Chrome */
  -o-animation: fadein 3s; /* Opera */

  p {
    text-align: center;
    font-size: 1.3em;
    margin: 5px;
    padding: 5px;
  }

  button {
  background-color: $popup;
  color: black;
  border: solid 2px $popup;
  border-radius: 5px;
  cursor: pointer;
  }

  button {
    margin: 5px;
    box-shadow: 1px 1px 1px 1px grey;
  }

}

/*
-----------------------
End Pop-Up Styles 
-----------------------
*/